@media(max-width: 800px){
    .main-display .heading{
        font-size: 18px;
    }
    .title{
        font-size: 40px;
    }
    .singlebtn{
        font-size: 18px;
    }
    .doublebtn{
        font-size: 18px;
    }
}
@media(max-width: 585px){
    .main-display .heading{
        font-size: 13px;
    }
    .title{
        font-size: 30px;
    }
    .singlebtn{
        font-size: 13px;
    }
    .doublebtn{
        font-size: 13px;
    }
    .box{
        width: 140px;
        height: 120px;
        border: 4px solid rgb(229, 231, 238);
        font-size: 80px;
}
}

@media(max-width: 420px){
    .main-display .heading{
        font-size: 11px;
    }
    .title{
        font-size: 25px;
    }
    .singlebtn{
        font-size: 12px;
    }
    .doublebtn{
        font-size: 11px;
    }
    .result h1{
        font-size: 40px;
}
}
@media(max-width: 350px){
    .main-display .heading{
        font-size: 9px;
    }
    .title{
        font-size: 20px;
    }
    .singlebtn{
        font-size: 10px;
    }
    .doublebtn{
        font-size: 10px;
    }
    .result h1{
        font-size: 30px;
}
.result button{
    padding: 8px 20px;
    font-size: 16px;
    
}
}
/*GAME BOARD*/
@media(max-width: 450px){
    .boxes{
        width: 300px;
    }
    .box{
        width: 100px;
        height: 100px;
        border: 2px solid rgb(229, 231, 238);
        font-size: 65px;
}
.playersturn{
    font-size: 18px;
}
}
@media(max-width: 310px){
    .boxes{
        width: 250px;
    }
    .box{
        width: 80px;
        height: 80px;
        border: 2px solid rgb(229, 231, 238);
        font-size: 50px;
}
.playersturn{
    font-size: 14px;
    width: 150px;
}
.player1{
    padding: 10px 10px;
   
   
}
.player2{
    padding: 10px 10px;
   
    
}
}

